select {
    border: 1px solid #d4d2d0;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    font-weight: 400;
    height: 2.4285714285714284em;
    line-height: 1.4285714285714286em;
    padding: .42857142857142855em;
}
select:focus {
    border-color: #4d90fe;
    outline: 0;
}
.ViewSelector, .ViewSelector2 {
    display: block;
}
.ViewSelector table, .ViewSelector2-item {
    display: block;
    margin-bottom: 1em;
    width: 100%}
.ViewSelector td:first-child, .ViewSelector2-item>label {
    font-weight: 700;
    margin: 0 .25em .25em 0;
    display: block;
}
.ViewSelector2-item>select {
    width: 100%}
.ViewSelector table, .ViewSelector tbody, .ViewSelector td, .ViewSelector tr {
    display: block;
}
.ViewSelector table {
    height: auto!important;
    width: auto!important;
}
.ViewSelector td {
    width: auto!important;
}
.ViewSelector td:last-child * {
    display: block;
    text-align: left;
}
.ViewSelector td:last-child>div {
    font-weight: 400;
    margin: 0;
}
@media (min-width:570px) {
    .ViewSelector, .ViewSelector2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 -1em -1em;
        width: -webkit-calc(100% + 1em);
        width: calc(100% + 1em);
    }

    .ViewSelector table, .ViewSelector2-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 -webkit-calc(100% / 3 - 1em);
        -ms-flex: 1 1 calc(100% / 3 - 1em);
        flex: 1 1 calc(100% / 3 - 1em);
        margin-left: 1em;
    }
}